<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- служебная часть -->

<head>
    <!-- заголовок страницы -->
    <title>Мой профиль</title>
    <!-- настраиваем служебную информацию для браузеров -->
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Bootstrap шаблон</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- кастомный css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/user.css}">
    <!-- закрываем служебную часть страницы -->

</head>

<body>

<!-- HEADER -->
<nav class="navbar navbar-expand-lg border-bottom pt-0 pb-0">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <img class="nav-link" style="max-height: 40px"
                     src="https://seeklogo.com/images/S/shop-direct-logo-D86EF9FED5-seeklogo.com.png" alt="logo"/>
                <a class="nav-link" href="#" onclick="openShops()">Магазины</a>
                <a class="nav-link" href="/">Товары</a>
                <a class="nav-link" href="#">Избранное</a>
                <a class="nav-link" href="#">еще...</a>
            </div>
        </div>
        <div>
            <a class="centertext-secondary btn btn-outline-warning text-primary" style="margin-right: 50px "
               href="/">На главную страницу для покупок</a>
        </div>


        <div class="text-secondary">
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                    <li>

                        <img class="avatar" style="border-radius: 50%; max-width: 40px" name="avatar_foto"
                             src="https://www.avito.st/stub_avatars/А/10_256x256.png" alt="Аватар"/>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="avatar_name nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink"
                           role="button" name="avatar_name" data-bs-toggle="dropdown" aria-expanded="false">
                            Name Surname
                        </a>
                        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="/?openCart=YES">Корзина</a></li>
                            <li><a class="dropdown-item" href="#">Избранное</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#" onclick="openShops()">Мои Магазины</a></li>
                            <li><a class="dropdown-item" href="#" onclick="openOrders()">Мои Заказы</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#" onclick="return openSettings();">Настройки</a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/logout">Выйти</a></li>
                        </ul>
                    </li>
                    <li>
                        <sec:authorize access="isAuthenticated()">
                            <a class="text-secondary btn btn-outline-warning text-primary" href="/logout">Выйти</a>
                        </sec:authorize>
                    </li>
                </ul>
            </div>
        </div>


    </div>
</nav>

<!-- CONTAINER -->
<div class="container-fluid">
    <div class="row">

        <!-- SIEDEBAR -->
        <div class="col-md-3">

            <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
                <!-- CAROUSEL -->
                <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                    </ol>
                    <div class="carousel-inner">
                    </div>
                    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">
                                </span>
                    </a>
                    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">>>></span>
                    </a>
                </div>
                <!--                <img style="border-radius: 50%; border: solid black; max-width: 255px" name="user_foto"-->
                <!--                     src="https://mirnivoin.ru/wp-content/uploads/2018/12/Prosvetlenie-za-1-chas.jpg"-->
                <!--                     class="round img-fluid" alt="фото" />-->
                <ul class="list-unstyled ps-0">
                    <li class="mb-1">
                        <h3 class="user_data">Имя Фамилия</h3>
                    <li class="border-top my-3"></li>
                    <li class="user_data link-dark rounded">Возраст:</li>
                    <li class="user_data link-dark rounded">Пол:</li>


                    <!-- TABS -->
                    <li>
                        <ul class="addr11 address-tab nav nav-tabs">

                        </ul>

                        <div class="addr12 address-content tab-content">

                        </div>
                    </li>

                    <li hidden="" class="user_data link-dark rounded">Страна:</li>
                    <li hidden="" class="user_data link-dark rounded">Город:</li>
                    <li hidden="" class="user_data link-dark rounded">Улица:</li>
                    <li class="user_data link-dark rounded">Почта:</li>
                    <li class="user_data link-dark rounded">Телефон:</li>
                    <div id="test">
                        <li class="user_data link-dark rounded"></li>
                    </div>
                    <li class="border-top my-3"></li>
                    </li>
                    <li class="mb-1">
                    <li><a href="/?openCart=YES">Корзина</a></li>
                    <li><a href="#" onclick="openOrders()">История заказов</a></li>
                    <li><a href="#">Проданные товары</a></li>
                    <li><a href="#newShopModal" data-toggle="modal" data-target="#newShopModal"> Новый магазин</a></li>
                    <hr>
                    <li><a href="#newItemModal" data-toggle="modal" data-target="#newItemModal" id="newItemMod">Разместить объявление</a></li>


                    </li>
                </ul>
            </div>

        </div>
        <!-- TABS -->
        <div class="col-md-9">

            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-shops-tab" data-bs-toggle="pill" onclick="showUserShops()"
                            data-bs-target="#pills-shops" type="button" role="tab" aria-controls="pills-shops"
                            aria-selected="true">Мои Магазины
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-orders-tab" data-bs-toggle="pill" onclick="showUserOrders()"
                            data-bs-target="#pills-orders" type="button" role="tab" aria-controls="pills-orders"
                            aria-selected="false">Мои Заказы
                    </button>
                </li>
                <li hidden="" class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-settings-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-settings" type="button" role="tab" aria-controls="pills-settings"
                            aria-selected="false">Настройки профиля
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-shops" role="tabpanel"
                     aria-labelledby="pills-shops-tab">
                    <table class="usershops table">
                        <!-- Shops from script user_page_shops.js  -->
                    </table>
                </div>
                <div class="tab-pane fade" id="pills-orders" role="tabpanel" aria-labelledby="pills-orders-tab">
                    ТЕКУЩИЕ ЗАКАЗЫ
                    <table class="userOrdersOpen table">
                        <!-- Orders from script user_page_shops.js  -->
                    </table>
                    ЗАВЕРШЕННЫЕ ЗАКАЗЫ
                    <table class="userOrdersClose table">
                        <!-- Orders from script user_page_shops.js  -->
                    </table>
                </div>
                <div class="tab-pane fade" id="pills-settings" role="tabpanel" aria-labelledby="pills-settings-tab">
                    <!-- шаблон профиля https://bbbootstrap.com/snippets/bootstrap-edit-profile-accounts-setting-template-80240656 -->


                    <div class="wrapper bg-white mt-sm-5">
                        <h4 class="pb-4 border-bottom">Настройки профиля</h4>
                        <div class="d-flex align-items-start py-3 border-bottom">
                            <img style="border-radius: 50%; max-width: 100px"
                                 src="https://www.avito.st/stub_avatars/А/10_256x256.png" name="loadfoto"
                                 class="img mx-2" alt=""/>
                            <div class="pl-sm-4 pl-2" id="img-section"><b>Фото профиля</b>
                                <p>Добавить файл не более 1MB</p>
                                <div class="btn btn-mdb-color btn-rounded float-left">
                                    <input type="file" accept="image/jpeg,image/png" class="newfoto"
                                           onchange="loadFoto()"/>
                                    <button type="button" data-toggle="modal" data-target="#editFoto"
                                            onclick="fotoEdit()">Редактировать
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Edit Profile -->
                        <div class="py-2">
                            <div class="row py-2">
                                <div class="col-md-6"><label for="firstname">Имя</label>
                                    <input type="text" class="profile bg-light form-control" id="firstname" placeholder="Имя"/></div>
                                <div class="col-md-6 pt-md-0 pt-3"><label for="lastname">Фамилия</label>
                                    <input
                                            type="text" class="profile bg-light form-control" id="lastname" placeholder="Фамилия"/>
                                </div>
                            </div>
                            <div class="row py-2">
                                <div class="col-md-6"><label for="email">Почта</label>
                                    <input type="text" class="profile bg-light form-control" id="email"
                                           placeholder="email@email.com"/></div>
                                <div class="col-md-6 pt-md-0 pt-3"><label for="phone">Телефон</label>
                                    <input
                                            type="tel" class="profile bg-light form-control" id="phone"
                                            placeholder="+7 000 000 0000"/></div>
                            </div>
                            <div class="row py-2">
                                <div class="col-md-6"><label for="age">Возраст</label>
                                    <input type="number" class="profile bg-light form-control" id="age" placeholder="100"/></div>
                                <div class="col-md-6 pt-md-0 pt-3"><label for="birthday">Дата рождения</label>
                                    <input type="date" class="profile bg-light form-control" id="birthday"
                                           placeholder="01.01.2001"/></div>
                            </div>
                            <div class="row py-2">
                                <div class="col-md-6"><label for="gender">Пол</label> <select name="gender"
                                                                                              id="gender"
                                                                                              class="bg-light">
                                    <option class="profile" value="male">MALE</option>
                                    <option class="profile" value="female">FEMALE</option>
                                </select></div>
                            </div>

                            <div class="row py-2">
                                <div class="col-md-6">
                                    <label for="password">Изменить пароль:</label><input type="password"
                                                                                         class="profile bg-light form-control"
                                                                                         id="password">
                                </div>
                            </div>

                            <div class="addresses row py-2">
                                <ul class="addr21 address-tab nav nav-tabs">

                                </ul>
                                <!-- Addresses -->
                                <div class="addr22 address-content tab-content">

                                </div>
                                <button type="button" class="btn btn-info" onclick="saveAddresses()">Изменить
                                    адреса
                                </button>
                            </div>
                            <div class="py-3 pb-4 border-bottom">
                                <button class="save btn btn-primary mr-3"
                                        onclick="handleClickSubmitProfile()">Сохранить
                                </button>
                                <button
                                        class="btn border button" onclick="openShops();">Закрыть
                                </button>
                            </div>
                            <div class="d-sm-flex align-items-center pt-3" id="deactivate">
                                <div><b>Deactivate your account</b>
                                    <p>Details about your company account and password</p>
                                </div>
                                <div class="ml-auto">
                                    <button class="btn danger">Deactivate</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Delete Foto -->
                    <div class="modal fade" id="editFoto" tabindex="-1" aria-labelledby="editFotoModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editFotoModalLabel">Поменять картинки</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">x</span>
                                    </button>
                                </div>
                                <!-- Modal windows -->
                                <div class="modal-body">
                                    <table class="editFotoModal">
                                        <!-- from scrip fotoEdit()  -->
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Закрыть
                                    </button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                                            onclick="saveFoto()">Изменить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="newShopModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-center text-muted">
            <div class="modal-header flex-column p-4">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="m-auto">
                    <img th:src="@{/img/logo/logo.png}" alt="logo" width="100">
                </div>
            </div>
            <div class="modal-body p-4 pb-3 border-bottom">
                <form class="form-shop mx-auto font-weight-bold text-center p-3" content="application/json"
                      style="width: 300px;" id="submitNewShop">

                    <h1 class="h3 mb-3 font-weight-normal">Введите данные для создания магазина</h1>

                    <label for="inputName" class="sr-only">name</label>
                    <input type="text" name="name" id="inputName"
                               class="form-control-shop" placeholder="Название"
                           required=""/>

                    <label for="inputCountry" class="sr-only">Country</label>
                    <input type="text" name="location.name" id="inputCountry"
                           class="form-control-shop"
                           placeholder="Страна" required=""/>

                    <label for="inputCity" class="sr-only">City</label>
                    <input type="text" name="cityDto" id="inputCity" class="form-control-shop"
                           placeholder="Город" required=""/>

                    <label for="inputEmail" class="sr-only">Email</label>
                    <input type="email" name="email" id="inputEmail"
                           class="form-control-shop"
                           placeholder="Email" required=""/>

                    <label for="inputPhone" class="sr-only">Phone</label>
                    <input type="text" name="phone" id="inputPhone" class="form-control-shop"
                           placeholder="Телефон" required=""/>

                    <label for="inputDescription" class="sr-only">Description</label>
                    <input type="text" name="description" id="inputDescription" class="form-control-shop"
                           placeholder="Описание" required=""/>

                    <div class="pl-sm-2 pl-1" id="logo-section"><b>Логотип магазина</b>
                        <img style="border-radius: 10%; max-width: 100px"
                             src="/img/logo/nologo.png"
                             class="img mx-2" name="shoplogotype"/>
                        <hr>
                        <h6>Добавить изображение логотипа размером не более 1MB</h6>
                        <div>
                            <input type="file" accept="image/jpeg,image/png" class="form-control-shop newLogo"
                                   onchange="loadShopLogo()"/>

                        </div>
                    </div>
                    <br/>
                    <button class="btn btn-lg btn-primary btn-block mt--5"  type="submit">Сохранить
                        данные
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>








<div class="modal fade" id="newItemModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-center text-muted">
            <div class="modal-header flex-column p-4">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-4 pb-3 border-bottom">
                <form class="form-shop mx-auto font-weight-bold text-center p-3 createItemClass" content="application/json"
                      style="width: 400px;" id="submitNewItem">

                    <h5 class="mb-3 font-weight-normal">Введите информацию по новому объявлению:</h5>

                    <div class="mb-3">
                        <label for="categoriesCreateItem" class="form-label">Категории
                        </label>
                        <select id="categoriesCreateItem" class="form-control createItem" multiple
                                size="3" name="categories">
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="inputItemName" class="form-label">Наименование товара</label>
                        <input type="text" class="form-control createItem" id="inputItemName" placeholder="Наименование товара">
                    </div>

                    <div class="mb-3">
                    <label for="inputItemDescription" class="form-label">Текст объявления</label>
                    <textarea class="form-control createItem" id="inputItemDescription" placeholder="Описание товара" rows="5"></textarea>
                    </div>


                    <div class="mb-3">
                        <label for="inputItemPrice" class="form-label">Цена</label>
                        <input type="text" class="form-control createItem" name="price" id="inputItemPrice" placeholder="Цена">
                    </div>

                    <div class="mb-3">
                        <label for="inputItemAmount" class="form-label">Количество</label>
                        <input type="text" class="form-control createItem" name="price" id="inputItemAmount" placeholder="Количество">
                    </div>

                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" id="pictureItem">
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                        <hr>
                        <h6>Добавить фото размером не более 1MB</h6>
                        <div>
                            <input type="file" accept="image/jpeg,image/png" class="form-control newPhoto"
                                   onchange="loadItemPhoto()"/>
                        </div>
                    <br/>
                    <button class="btn btn-lg btn-primary btn-block mt--5"  type="submit">Подать объявление</button>

                </form>

            </div>
        </div>
    </div>
</div>



<!-- custom scripts -->
<script src="/js/user_page/user_page_rest.js"></script>
<script src="/js/user_page/user_page.js"></script>
<script src="/js/user_page/user_page_tabs.js"></script>
<script src="/js/user_page/user_page_profile.js"></script>
<script src="/js/user_page/user_page_shops.js"></script>
<script src="/js/user_page/user_page_orders.js"></script>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<!-- Optional JavaScript; choose one of the two! -->
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

<!-- конец всей страницы -->

</html>